<main class="section">
    <div class="container main-box">
        <div class="row">
<<<<<<< HEAD
            <div class="col-md-8 col-sm-12  infopage__floating">
                <h1 class="title" style="text-align:center;padding-bottom:70px">
                    Complete Your Booking
                </h1>
                <label style="padding:30px 0;font-size:25px;opacity:0.8">1. Your Information</label>
=======
            <div class="col-md-9 col-sm-12 col-xs-12  infopage__floating">
                <h1 class="title" >
                    SEND US YOUR REQUEST
                </h1><br/>
                <h2>We will contact you shortly !</h2>
                <label style="padding:20px 0;font-size:25px;opacity:0.8">Your Information</label>
>>>>>>> 042770e5c930fcde0cef1b84f5023705604ee485
                <div class="main-content">
                    <form data-toggle="validator" role="form" action="/request-complete" method="post" data-error="Wrong Input, Please re-enter" >

                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>First Name</label>
                                    <input name="CustomerName" type="text" class="form-control"  data-error="First name is required" required />
                                    <div class="help-block with-errors"></div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Last Name</label>
                                    <input name="CustomerLastname" type="text" class="form-control"  data-error="Last name is required" required/>
                                    <div class="help-block with-errors"></div>
                                </div>
                            </div>
                        </div>


                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="inputEmail">E-mail</label>
                                    <input name="CustomerEmail" type="email" class="form-control" id="inputEmail"  data-error="E-mail is required" required>
                                    <div class="help-block with-errors"></div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <label>Phone</label><br/>
                                <input id="phone" class="form-control"  name="CustomerPhone" type="tel"/>
                            </div>
                            <script src="/libs/build/js/intlTelInput.js"></script>
                            <script>
                                var input = document.querySelector("#phone");
                                window.intlTelInput(input, {
                                    // allowDropdown: false,
                                    // autoHideDialCode: false,
                                    // autoPlaceholder: "off",
                                    // dropdownContainer: document.body,
                                    // excludeCountries: ["us"],
                                     //formatOnDisplay: false,
                                    // geoIpLookup: function(callback) {
                                    //   $.get("http://ipinfo.io", function() {}, "jsonp").always(function(resp) {
                                    //     var countryCode = (resp && resp.country) ? resp.country : "";
                                    //     callback(countryCode);
                                    //   });
                                    // },
                                    // hiddenInput: "full_number",
                                    // initialCountry: "auto",
                                    // localizedCountries: { 'de': 'Deutschland' },
                                    // nationalMode: false,
                                    // onlyCountries: ['us', 'gb', 'ch', 'ca', 'do'],
                                    // placeholderNumberType: "MOBILE",
                                    // preferredCountries: ['cn', 'jp'],
                                    // separateDialCode: true,
                                    utilsScript: "/libs/build/js/utils.js",
                                });
                            </script>
                        </div>


                        <div class="form-group">
                            <div class="row">
                                <div class="col-md-12" >
                                    <label>Special Requests/Comment</label><br/>
                                    <textarea class="form-control" placeholder="The desired trip start time is 10am."></textarea>
                                </div>
                            </div>
                        </div>


                        <div class="form-group" style=" border-top: 1px solid rgba(0,0,0,.2);margin-top:30px;">
                            <button type= "submit" class="btn pull-right" style="margin-top:20px;font-weight:600;font-size:20px">submit</button>
                        </div>
                    </form>
                </div>
            </div>
            <div class="col-md-4 col-sm-12  bookingpage__floating">
                <h1 class="cart-title" style="text-align: center;">Complete Your Booking Request</h1>
                <img class = "img-responsive"  src="<%=boat2s.Boat_Image_1 %> ">
                <h2></h2>
                <h3>
                    <%=boats.DestinationName  %> ,<%=boats.DestinationCountry  %> , <%=boats.DestinationArea %>
                </h3>
                <div style="padding: 0 21px;">
                    <div class="row prop">
                        <div class="col-xl-6 label-text">Date</div>
                        <div class="col-xl-6  text-right"><%=dates  %> </div>
                    </div>
                    <div class="row prop">
                        <div class="col-xl-6 label-text">Charter Type</div>
                        <div class="col-xl-6 text-right"><%=types  %> </div>
                    </div>
                    <div class="row prop" style="padding-bottom:5px; border-bottom: 1px solid rgba(0,0,0,.2)">
                        <div class="col-xl-4 label-text">Passengers</div>
                        <div class="col-xl-8 text-right"><%=qtys  %></div>
                    </div>
                </div>
                <div class="booking-totals-summary-container" style="min-height: 100px;">
                    <div class="row prop" >
                        <div class="col-xl-6 label-text">Boat Rental</div>
                        <div class="col-xl-6  text-right" style="font-weight:600">$<%=usds  %></div>
                    </div>
                    <div class="row prop">
                        <div class="col-xl-6 label-text">Reservation Fee</div>
                        <div class="col-xl-6 text-right">$100</div>
                    </div>
                    <div class="row prop" style=" padding-bottom:5px; border-bottom: 1px solid rgba(0,0,0,.2)">
                        <div class="col-xl-6 label-text">Sales Tax (21%)</div>
                        <div class="col-xl-6 text-right">$<%=Math.ceil(usds/100*21)%></div>
                    </div>
                    <div class="row prop"  style="
                    argin-left: 0;
                    font-size: 24px;
                    color: #14264a;
                    font-family: 'Avenir Next',sans-serif;
                    font-weight: 600;
                    font-style: normal;
                    padding-bottom:5px; border-bottom: 1px solid rgba(0,0,0,.2)">
                        <div class="col-xl-6 label-text">Total fee</div>
                        <div class="col-xl-6 text-right">$<%=usds + Math.ceil(usds/100*21) +100 %></div>
                    </div>

</div>
        </div>
    </div>

</main>
